Host webdev-*
    User {{ ansible_user }}
    IdentityFile ~/.ssh/labsuser.pem
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ServerAliveInterval 60
    TCPKeepAlive yes
    ForwardAgent yes
    Compression yes

Host webdev-web
    HostName {{ hostvars[groups['tag_Role_Web'][0]].private_ip_address }}
    ProxyCommand ssh -W %h:%p {{ ansible_user }}@{{ hostvars[groups['tag_Role_Bastion'][0]].public_ip_address }}

Host webdev-db
    HostName {{ hostvars[groups['tag_Role_DB'][0]].private_ip_address }}
    ProxyCommand ssh -W %h:%p {{ ansible_user }}@{{ hostvars[groups['tag_Role_Bastion'][0]].public_ip_address }}

# Configuration globale
Host *
    ServerAliveInterval 60
    TCPKeepAlive yes
    ForwardAgent yes
    GSSAPIAuthentication no
    ConnectTimeout 30
