Host *
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ServerAliveInterval 30
    ControlMaster auto
    ControlPath /tmp/ansible-ssh-%h-%p-%r
    ControlPersist 15m
    ForwardAgent yes
    BatchMode yes
    ConnectTimeout 60
    TCPKeepAlive yes
    ServerAliveCountMax 6

Host 172.31.*
    IdentityFile /home/{{ ansible_user }}/.ssh/labsuser.pem
    User {{ ansible_user }}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ForwardAgent yes
