---
- name: Update APT and upgrade system
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist
  tags: [db]

- name: Install MariaDB and PyMySQL
  ansible.builtin.apt:
    name: [mariadb-server, python3-pymysql]
    state: present
  tags: [db]

- name: Configure MariaDB to listen on all interfaces
  ansible.builtin.lineinfile:
    path: /etc/mysql/mariadb.conf.d/50-server.cnf
    regexp: ^bind-address\s*=
    line: bind-address
