- name: Update APT and upgrade system (Web)
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist
  tags: [web]

- name: Install Apache, PHP, DB client and lynx
  ansible.builtin.apt:
    name:
      - apache2
      - php
      - php-mysql
      - mariadb-client
      - lynx
    state: present
  tags: [web]

- name: Ensure Apache is started and enabled
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: yes
  tags: [web]

- name: Ensure /var/www/html exists with correct permissions
  ansible.builtin.file:
    path: /var/www/html
    state: directory
    owner: www-data
    group: "{{ dev_group }}"
    mode: "0775"
  tags: [web]

- name: Deploy index.html
  ansible.builtin.template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: www-data
    group: "{{ dev_group }}"
    mode: "0644"
  tags: [web]

- name: Deploy info.php
  ansible.builtin.template:
    src: info.php.j2
    dest: /var/www/html/info.php
    owner: www-data
    group: "{{ dev_group }}"
    mode: "0644"
  notify: restart apache
  tags: [web]

- name: Compute DB host private IP (first DB server)
  ansible.builtin.set_fact:
    db_host: "{{ hostvars[groups['tag_Role_DB'][0]].ansible_default_ipv4.address }}"
  when: groups['tag_Role_DB'] is defined and (groups['tag_Role_DB'] | length) > 0
  tags: [web]

- name: Deploy dump.table.php (PHP app connecting to DB)
  ansible.builtin.template:
    src: dump.table.php.j2
    dest: /var/www/html/dump.table.php
    owner: www-data
    group: "{{ dev_group }}"
    mode: "0644"
  notify: restart apache
  tags: [web]
